.services {
    margin-top: 90px;
}
.main {
    width: 800px;
    margin: 0 auto;
    &__title {
        font-size: 15px;
        font-weight: 600;
        margin-left: 15px;
        font-family: 'Raleway';
    }
    &__item {
        box-shadow: 0px 8px 18px -2px rgba(221, 217, 217, 0.56);
        margin-bottom: 20px;
        &__list {
            
        }
        &--main {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            border-radius: 5px;
            text-transform: uppercase;
            cursor: pointer;
        }
        &__item {
            display: flex;
            justify-content: space-between;
            &--left {
                padding:  0 20px 20px;
            }
            &--right {
                p {
                    font-family: 'Raleway';
                    font-size: 15px;
                    font-weight: 400;
                    padding-top: 10px;
                    padding-right: 20px;
                    color: $blue;
                }
            }
        }
        &--left {
            display: flex;
        }
    }
}
.main__item__list {
    display: none;
    transition: .3s linear;
}
.main__item__list--toggle {
        display: block;
}
